### boolean methods

In [3]:
s='Python is easy lang'
s1="python"
print(s.islower())
print(s1.islower())

False
True

In [5]:
s='Python is easy lang'
s1="PHYTHON"
print(s.isupper())
print(s1.isupper())

False
True

In [6]:
s="5678"
s1="app123"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [7]:
s="asdfg"
s1="app123"
print(s.isalpha())
print(s1.isalpha())

True
False

In [8]:
s="Python Programming"
s1="Python programming"
print(s.istitle())
print(s1.istitle())

True
False

In [25]:
s=" "                      #ASCII number for space,only when we use null space it will return true
s1="Python programming"
print(s.isspace())
print(s1.isspace())

True
False

#### string method

join():concatinate 2 strings   <br>
split():returns the list of strings that are seperated by white space   <br>
replace():replace the string with the new string    <br>

In [17]:
s="python"
print(" ".join(s))

p y t h o n

In [23]:
print(",".join(["python","programming"]))

python,programming

In [30]:
s=["",""]
print(",".join(s))

,

In [35]:
s="python, programming, is, easy, to, learn"
print(s.split())
print(s.split("a"))
print(s.split(","))

['python,', 'programming,', 'is,', 'easy,', 'to,', 'learn']
['python, progr', 'mming, is, e', 'sy, to, le', 'rn']
['python', ' programming', ' is', ' easy', ' to', ' learn']

In [43]:
s="krishna shree navya rani bhavani manasa"
list=s.split()
print(list)
print(list.index("shree"))

['krishna', 'shree', 'navya', 'rani', 'bhavani', 'manasa']
1

In [48]:
s="krishna shree navya rani bhavani manasa"
list=s.split()
print(s.split("i"))

['kr', 'shna shree navya ran', ' bhavan', ' manasa']

In [51]:
s="phthon programming"
print(s.replace("hon","java"))

phtjava programming

### tupples 
it is seq of objects is like list only   <br>
the diff of list and tupples are the cannot change  <br>
us eparanthesis to hold objects  <br>
they are immutable <br>

In [54]:
t1=("python","programming",1989,"machine learning")
t2=(1,2,3,4)
print(t1)
print(t2)

('python', 'programming', 1989, 'machine learning')
(1, 2, 3, 4)

In [57]:
t1[0]

python

In [66]:
t1[1:3]
t1[1:-1]
t1[:4]
t1[:3]
t1[-1]

'machine learning'

In [70]:
t1=("python","programming",1989,"machine learning")
print(t1)
t1[2]=20
del t1[2]
# can not support assignment operation,deletion operation

('python', 'programming', 1989, 'machine learning')

TypeError: 'tuple' object does not support item assignment

In [71]:
t1=("python","prigramming")
t2=(1989,2019,"ML","AI")
t3=t1+t2
print(t3)

('python', 'prigramming', 1989, 2019, 'ML', 'AI')

In [72]:
t1=("python","programming",1989,"machine learning")
print(len(t1))

4

In [74]:
 print(len(t1[0]))

6

In [78]:
t2=(12,123,6,7,100)
print(max(t2))

123

In [79]:
print(min(t2))

6

In [81]:
t1=(1,4,9,20,10)
a=cmp(t1,t2)  #returna a value 1 or -1

NameError: name 'cmp' is not defined

In [85]:
# conversion of list to tuple
list=["python","programming",1989,"machine learning"]
print(list)
tupple=tuple(list)
print(tupple)

['python', 'programming', 1989, 'machine learning']
('python', 'programming', 1989, 'machine learning')

### dictionaries

In [106]:
user1={'name':'krishna shree','age':'19','EmailID':'krishnasriganji04@gmail.com','number':'789654321'}
print(user1['EmailID'])
print(user1['name'])
print(user1['age'])
print(user1['number'])

krishnasriganji04@gmail.com
krishna shree
19
789654321

In [113]:
del (user1['EmailID'])

KeyError: 'EmailID'

In [118]:
#copy of one dictionary objectdata to another dictionary object
user1={'name':'krishna shree','age':'19','EmailID':'krishnasriganji04@gmail.com','number':'789654321'}
user2=user1.copy()
print(user1)
print(user2)
user1['address']='hydrabad'
print(user1)
print(user2)

{'name': 'krishna shree', 'age': '19', 'EmailID': 'krishnasriganji04@gmail.com', 'number': '789654321'}
{'name': 'krishna shree', 'age': '19', 'EmailID': 'krishnasriganji04@gmail.com', 'number': '789654321'}
{'name': 'krishna shree', 'age': '19', 'EmailID': 'krishnasriganji04@gmail.com', 'number': '789654321', 'address': 'hydrabad'}
{'name': 'krishna shree', 'age': '19', 'EmailID': 'krishnasriganji04@gmail.com', 'number': '789654321'}

In [119]:
# items returns a list of dictionary
user1={'name':'krishna shree','age':'19','EmailID':'krishnasriganji04@gmail.com','number':'789654321'}
print(user1.items())
#every dictionary item is considered as a one tupple

dict_items([('name', 'krishna shree'), ('age', '19'), ('EmailID', 'krishnasriganji04@gmail.com'), ('number', '789654321')])

In [123]:
user2=user1.copy()
print(user1.values())
print(user2)
print(user2.values())

dict_values(['krishna shree', '19', 'krishnasriganji04@gmail.com', '789654321'])
{'name': 'krishna shree', 'age': '19', 'EmailID': 'krishnasriganji04@gmail.com', 'number': '789654321'}
dict_values(['krishna shree', '19', 'krishnasriganji04@gmail.com', '789654321'])

### string formatting
%s %d

In [126]:
li=['python','programming']
print("%s %s"%(li[0],li[1]))  # writing program like in C

python programming

In [129]:
list=[1,2,3,4]
print("value at : {0} value at : {1}". format(list[0],list[1]))
print("value at : {0} value at : {1}". format(list[2],list[3]))

value at : 1 value at : 2
value at : 3 value at : 4

#### package and modules
package: collection of modules  <br>
sub package: it is part of main package  <br>
modules: a single phython file contain set of operations   <br>

In [132]:
# use of existing packages in python library
from math import floor as f1
f1(123.456)

123

In [133]:
from math import factorial as fact  # if want to import only perticular function we use this method
fact(5)

120

In [135]:
import math
math.factorial(5) # uses all librery functions in the math librery

120

In [140]:
# want to generate the random numbers between to limits
import random
def randomGenerator(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end= "\t")
    return
randomGenerator(10,10,100)

97	96	84	42	61	69	11	81	84	39